body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Linear Gradient */
    background: linear-gradient(90deg, #e3d8ca 0%, #a88d7a 100%);
}


h1 {
    background-color: transparent;
    color:black;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.logo {
    width: 75px;
    height: 75px;
    display: inline-block;
    background-size: cover;
    background-color: transparent;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color:black;
    margin: 20px 0;
    margin-left: 90px;

}

#Buttons {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    color: white;
}

.settings-button  {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}


.task-button {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}

/* Hover */
.task-button:hover {
    background: #ffff;
    border-color: #c6c6c6;
}

.language-button {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}

.music-button  {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}